@using Flixer.Models
 
@{
    ViewData["Title"] = "New Movie Added!";
}

<h2>@ViewData["Title"]</h2>
<p>You added a new movie. Here's the info you provided:</p>

@{
    var movie = ViewBag.LatestMovie as Movie;
}

<ul>
    <li><strong>ID:</strong> @movie.Id</li>
    <li><strong>Title:</strong> @movie.Title</li>
    <li><strong>Genre:</strong> @movie.Genre</li>
    <li><strong>Year:</strong> @movie.Year</li>
    @if (movie.Watched)
    {
        <li><strong>Watched:</strong> Yes</li>
    }
    else
    {
        <li><strong>Watched:</strong> No</li>
    }
    <li><strong>Score:</strong> @movie.Score</li>
</ul>

<partial name="_BackLinkPartial" />