@model Flixer.Models.Movie

@{
    ViewData["Title"] = Model.Title;
}

<h2>@ViewData["Title"]</h2>

<ul>
    <li><strong>@Html.DisplayNameFor(model => model.Id):</strong> @Html.DisplayFor(model => model.Id)</li>
    <li><strong>@Html.DisplayNameFor(model => model.Title):</strong> @Html.DisplayFor(model => model.Title)</li>
    <li><strong>@Html.DisplayNameFor(model => model.Genre):</strong> @Html.DisplayFor(model => model.Genre)</li>
    <li><strong>@Html.DisplayNameFor(model => model.ReleaseDate):</strong> @Html.DisplayFor(model => model.ReleaseDate)</li>
    @{
        ViewData["Watched"] = Model.Watched ? "Yes" : "No";
    }
    <li><strong>Watched:</strong> @ViewData["Watched"]</li>
    <li><strong>@Html.DisplayNameFor(model => model.Score):</strong> @Html.DisplayFor(model => model.Score)</li>
</ul>

@Html.ActionLink("Delete Movie", "Delete", new { Id = Model.Id }, new { @class = "btn btn-del" })
<partial name="_BackLinkPartial" />